# Dependencies
node_modules/

# Build files
build/

# Environment files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# Visual Studio Code settings
.vscode/

# Cache and temporary files
.cache/
.next/
