/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.projects {
  padding: 40px 20px;
  background-color: #f7f7f7;
}

.projects h2 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  color: black; /* Set title color to black */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 15px;
  text-align: center;
}

.project-info h3 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.project-info p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
}
